<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tap Shoes Canada</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
		.navbar-inverse .navbar-nav > li > a {
			color: white;
		}
		.navbar-inverse .navbar-brand {
			color: white;
		}
    </style>

</head>
<body>
    @*<header>*@

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tap Shoes Canada</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Shoes" asp-action="Index">All Shoes</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="CustomShoes" asp-action="form">Custom shoes</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a></li>
                <li><a class="nav-link text-drak" asp-area="" asp-controller="Order" asp-action="Index">Orders</a></li>
            </ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a asp-area="" asp-controller="Users" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a asp-area="" asp-controller="Users" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li><a asp-area="" asp-controller="Admin_Shoes" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
			</ul>
        </div>
    </nav>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TapShoesCanada - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
