@model TapShoesCanada.Models.Custom_shoe



@{
    ViewData["Title"] = " Customshoe";
}

<style>
	input[type=text], select {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	input[type=submit] {
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

		input[type=submit]:hover {
			background-color: #45a049;
		}

	section div {
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 20px;
		left:25%;
		width: 50%;
	}
</style>

<body>
    <h1>Create Your Own Shoes </h1>

    <div style="width:100%; overflow:hidden">
        

        <hr />
        <div style="width:800px;float:left">
            <section>
                @*<div class="row">*@
                @*<div class="col-md-4">*@
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Size" class="control-label"></label>
                        <input name="Size" class="form-control" ) />
                        <span asp-validation-for="Size" class="text-danger"></span>
                        <label>34-50 with options of narrow and wide</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Style" class="control-label"></label>
                        @Html.DropDownList("style", ViewBag.Style as SelectList)

                        <span asp-validation-for="Style" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        @Html.DropDownList("model", ViewBag.Smodel as SelectList)
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Colour1" class="control-label"></label>
                        <br>
                        <input id="Colour1" type="color" name="Colour1" value="#000000">
                        <span asp-validation-for="Colour1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Colour2" class="control-label"></label>
                        <br>
                        <input id="Colour2" type="color" name="Colour2" value="#000000">

                        <span asp-validation-for="Colour2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sole" class="control-label"></label>
                        @Html.DropDownList("sole", ViewBag.sole as SelectList)
                        <span asp-validation-for="Sole" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lace" class="control-label"></label>
                        <br>
                        <input id="Lace" type="color" name="Lace" value="#000000">
                        <span asp-validation-for="Lace" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <label>	Enter Quntity </label>
                    @Html.TextBox("qty", 1)
                     </div>

                    <div class="form-group">
                        <input type="submit" value="Add to cart" class="btn btn-primary" />
                    </div>

                </form>



                @*</div>*@
            </section>
        </div>

        <div style="margin-left:720px;">
            <img src="~/images/cshoe.JPG" style="width:70%" />

            <p>Colour 1 represents the part A of the shoe.</p>
            <p>Colour 2 represents the part B of the shoe</p>
        </div>
    </div>
    
    @*</div>*@
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
