@model TapShoesCanada.Models.User

@{
    ViewData["Title"] = "Index";
    var user = ViewBag.user;
}

<h1>Index</h1>


<div>

	<b> @ViewBag.err </b>
	<hr />

	<p>Welcome to tap shoes canada</p>
	
	<label>@user</label>
</div>
